import

.wtvideo-component {
  border: 1px dashed #f00;
  color: black;
}
#iconup {
  float: right;
  position: absolute;
  top: -20px;
  left: -85px;
}
#icondown {
  float: right;
  position: absolute;
  top: -20px;
  left: 22px;
}
#vidcard {
  margin-bottom: 20%;
}
